/* File styles.css */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    margin: 0;  
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* font-family: Arial; */
}

ul, li {
    padding: 0;
    list-style-type: none;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 30px;
    background: #eee; 
    margin: 0 auto;  

    justify-items: stretch; /*default is stretch. refers to horizontal position and moves left and right. start, end, center are also options. this backs up the container (grid item) to the associated grid line*/
    align-items: stretch;  /*same commands, refers to vertical position and moves up and down */
}

header {
    grid-column: span 3;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center; /* Centers items vertically */
    gap: 5px; /* Adds space between logo and title */
    /* flex-direction: column; */
}

h1 {
    color: black;
    font-size: 1.5em;
}

h1, .logo {
    display:inline-block;
    padding: 5px;
} 

.logo {
    display:inline-block;
    height: 2em;
    width: auto;
} 

.tagline {
    margin-top: 5px; /* Add small space above subtitle */
    font-size: 50%; /* Customize subtitle size */
    font-weight: 200;
}

nav {
    padding: 30px;
    border-right: 1px solid #ddd;
}

nav li {
    text-decoration:none;
}

article {
    padding: 30px;
}

h2 {
    font-size: 3.5em;
    text-transform: uppercase;
    max-width: 800px;
}

article p {
    margin-top: 30px;
    line-height: 2em;
    color: #777;
}

aside {
    padding: 30px;
    border-left: 1px solid #ddd;
}

footer {
    grid-column: span 3;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 30px;
}

/* LINKS */
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #cfd8dc;
    background-color: #7c9cc0;
    text-decoration: none;
}

a:active {
    color: #b48ead;
    background-color: #6fa3a1;
    text-decoration: none;
}

a:focus {
    color: #b48ead;
    background-color: #0b3c4a;
    text-decoration: none;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    nav {
        grid-column: span 3;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }

    nav li {
        display: inline-block;
        margin-right: 10px;
    }

    article {
        grid-column: span 2;
    }

    aside {
        padding: 16px;
    }
}

@media screen and (max-width: 980px) {
    nav, article, aside {
        grid-column: span 3;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }
    aside {
        border-left: 0;
        border-top: 1px solid #ddd;
    }
    article h2 {
        font-size: 2.5em;
    }
}



